.main_container {
    margin-top: 140px;
    padding-bottom: 20px;
}

.container__slide{
    width: 100%;
}

.container__banner{
    display: flex;
    justify-content: space-between;
}

.banner__sale{
    width: 40%;
    margin-left: 10px;
}

.banner__sale-item {
    margin-bottom: 10px;
}

.banner__Sales-img{
    width: 100%;
    height: 138px;
}

.product__sale-title{
    margin-top: 40px;
    background-color: #fff;
    border: 1px solid #f30;
    text-align: center;
}

.product__sale-title--a {
    display: inline-block;
    margin: 0 auto;
    height: 40px;
    line-height: 20px;
    background-color: #f30;
    color: var(--white-color);
    text-transform: uppercase;
    padding: 10px 25px;
    font-size: 2.5rem;
    font-weight: 400;
    position: relative;
    top: -20px;
}

.product__sale-title--a:hover {
    text-decoration: none;
    color: var(--white-color);
    cursor: default;
}

.product__sale-title--a::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    border: 1px solid transparent;
    border-width: 20px;
    border-left-color: #f30;
    margin-top: -20px;
}

.product__sale-title--a::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    border: 1px solid transparent;
    border-width: 20px;
    border-right-color: #f30;
    margin-top: -20px;
}


/* product sale */


.product__row {
    margin: 0 20px;
    
}
.product__col {
    padding: 0;
}

.card {
    width: 232px;
}

.card__item {
    margin-bottom: 10px;
    padding: 10px;

    
}



.card-img-top {
    padding: 20px 15px;
    
}
.card-body {
    text-align: left;
}

.card-body__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-text {
    font-size:1.5rem;
    color: #f30;
    font-weight: 400;
}

.card-body{
    padding: 0;
}

.card-body__cart {
    border: 1px solid #ccc;
    border-radius: 50%;
    padding: 5px 5px 0 5px;
    text-align: center
}

.card-body__cart-icon {
    font-size: 3rem;
    color: var(--text-color);
}

.card-body__cart-icon:hover{
    color: tomato;
}


/* product category */

.product-category{
    margin-top: 20px;
    background-color: white;
}
.product-categor__label {
    margin: 10px 0;
}

.product-category__item {
    display: block;
    position: relative;
    border: 1px solid rgba(0,0,0,0.05);
    text-align: center;
    padding: 10px;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 400;
}


.product-category__item:hover {
    transform: translateZ(0);
    z-index: 1;
    border-color: rgba(0,0,0,0.12);
    box-shadow: 0 0 0.8125rem 0 rgb(0 0 0 / 5%);
    color: var(--text-color);
    font-weight: 350;
}


.category-img {
    text-align: center;
    width: 100%;
}

.product-category__img {
    width: 30%;
}
.product-category__text {
    width: 100%;
    height: 61px;
    padding: 0 20px;
    line-height: 61px;
}

.product-category__title {
    font-size: 2rem;
    color: rgba(0,0,0,0.8);
    font-weight: 400;
}

/*  product list */
.product-list {
    margin-top: 20px;
}

.product-list__heading {
    width: 100%;
    background-color: white;
}

.product-list__title {
    display: block;
    padding: 20px;
    font-size: 2rem;
    font-weight: 400;
    line-height: 15px;
    color: var(--text-color);
}

.product-list__home {
    padding-top: 5px;
}


/* product card */

.card-item {
    display: block;
    background-color: white;
    padding: 10px;
    margin: 5px;
    color: var(--text-color);
    border-radius: 2px;
    transition:  box-shadow linear 0.1s;
    height: 353px;
    box-shadow: 0.2px 0px 2.2px -0.9px;
}

.card-item:hover {
    color: var(--text-color);
    box-shadow: 0 1.5px 5px rgb(0 0 0 / 25%);
    transform: translateY(-1px);
    border-radius: 2px;
}

.card-item__img {
    display: flex;
    align-items: center;
    width: 100%;
    height: 190px;
}

.card__img {
    padding: 20px 0;
    width: 100%;
}

.card__name {
    margin-top: 20px;
    width: 100%;
}

.card__name-sp {
    font-size: 1.6rem;
    font-weight: 400;
}

.card__body {
    margin: 10px 0;
}

.card__price {
    display: block;
    font-size: 1.6rem;
    color: #d12c1f;
    font-weight: bold;
}

.card__oldprice {
    display: inline-block;
    color: #333;
    text-decoration: line-through;
    font-size: 1.4rem;
    font-weight: normal;
    margin-top: 7px;
    margin-right: 5px;
}

.card__precent {
    color: #d12c1f;
    font-size: 1.4rem;
}

/* produc detail */

.product-detail__name{
    padding-top: 20px;
}

.product-detail__name-text {
    padding: 0 15px;
    font-size: 2.5rem;
    margin: 0;
    font-weight: 400;
}

.product-detail {
    padding-top: 20px;
    background-color: white;
}

.product-detail__img-main {
    width: 100%;
    margin-top: 30px;
}

.product-detail__price {
    display: flex;
    margin-top: 30px;
}

.detail__price {
    font-size: 2.5rem;
    color: #d12c1f;
    font-weight: bold;
} 

.detail__oldprice {
    color: #333;
    text-decoration: line-through;
    font-size: 2rem;
    font-weight: normal;
    margin: 0 10px;
}

.detail__precent {
    color: #d12c1f;
    font-size: 2rem;
}

.product-detail__sale {
    margin-top: 20px;
    border-radius: 3px;
}

.detail-title {
    padding: 5px;
    width: 100%;
    background-color: #34a105;
    border: 1px solid #34a105;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
}

.detail-text {
    margin: 0;
    color: white;
}

.detail-sale__list {
    list-style: none;
    padding: 0;
    border: 1px solid #f1f1f1;
    background-color: whitesmoke;
}

.detail-sale-item {
    font-size: 1.4rem;
    margin-top: 10px;
    padding: 5px 10px 5px 10px;
    line-height: 20px;
    
}

.product-detail-pay {
    margin-top: 30px;
}

.detail-sl {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    justify-content: space-around;
}


.detail-sl-text {
    font-size: 1.5rem;
    font-weight: 400;
    color: rgba(0,0,0,0.6) ;
    margin: 0;
    padding: 0 30px 0 10px;
}

.detail-sl_btn {
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.09);
    border-radius: 2px;
    margin-right: 13px;
}

button.btn-calc {
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 32px;
    outline: none;
}

.btn-sl__icon {
    font-size: 1.6rem;
    font-weight: 400;
    color:  rgba(0,0,0,0.6);
}

.btn-sl {
    width: 50px;
    height: 32px;
    text-align: center;
    border: none;
    font-size: 16px;
    outline: 0;
}

button.btn-sl_tru {
    border-right: 1px solid rgba(0, 0, 0, 0.09);
}

button.btn-sl_cong {
    border-left: 1px solid rgba(0, 0, 0, 0.09);
}

.detail-sl_title {
    font-size: 1.5rem;
    color:  rgba(0,0,0,0.6);
    padding-right: 2px;
}

.detail-sl_status {
    font-size: 1.5rem;
    color: forestgreen;
}


.btn-sl__pay {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 20px;
    margin-bottom: 40px;
}


button.btn-sl-cart {
    outline: none;
    align-items: center;
    border: 1px solid tomato;
    padding: 20px 15px;
    font-size: 1.5rem;
    color: tomato ;
    font-weight: 400;
    background-image: linear-gradient(#f1f1f1,rgba(255, 87, 34, 0.15)) ;
    min-height: 50px;
    min-width: 200px;
    border-radius: 4px;
}


.btn-sl-cart:hover {
    background-color: rgba(255, 87, 34, 0.15);
}

.btn-pay-icon {
    font-size: 3rem;
}


button.btn-sl-sell {
    outline: none;
    font-size: 1.6rem;
    padding: 21px 15px;
    min-width: 200px;
    min-height: 50px;
    border-radius: 4px;
}


/* thông số kỹ thuật */
.product-detail-info {
    margin-top: 15px;
}

.detail-info__text {
    font-size: 2.5rem;
    margin: 0;
    padding-bottom: 20px;
}

.detail-info-list {
    padding: 0;
    list-style: none;
    display: block;
    position: relative;
}

.detail-info-list li {
    display: block ;
    background-color: #f4f4f4;
    padding: 10px;
    font-size: 1.8rem;
    color: #999;
    font-weight: 300;
    border-radius: 2px;
}

.detail-info-name {
    font-size: 1.4rem;
    font-weight: 600;
    color: #333;
}

.detail-info-value {
    font-size: 1.4rem;
    font-weight: 300;
    color: #333;
    margin-left: 5px;
    line-height: 20px;
}

.detail-info-list li:nth-child(2n){
    background-color: transparent;
}

button.btn-detail-info {
    width: 100%;
    margin: 10px 0 20px 0;
    font-size: 1.8rem;
    font-weight: 400;
    color: #ff3302;
    background-color: transparent;
    border: 1px solid #ff3302;
    outline: none;
    border-radius: 3px;
}

.btn-detail-info:hover {
    background-color: #ff3302;
    color: #fff;
}

.body-info {
    padding: 10px 20px 20px 20px;
}

#info-text {
    font-size: 2rem;
    padding: 10px;

}
.modal-header {
    border: none;
}


.danhmuc_rong{
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.danhmuc-rong__text {
    margin-top: 40px;
    font-size: 2.5rem;
    color: #357ebd;
}

.product-detail_mota {
    border-top: 1px solid rgba(0,0,0,0.1);
}

.title_mota {
    padding-top: 20px ;
    font-size: 2rem;
    color: #333;
}

.product-detail_mota ul {
    list-style: none;
    padding: 15px 0px 25px 0;
    margin: 0 10px;
}
.product-detail_mota ul li {
    display: block;
    font-size: 1.6rem;
    font-weight: 300;
    color: #333;

    line-height: 22px;
}

.product-detail_mota li::before {
    content: '•';
    color: #999;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    font-size: 2rem;
}

.product-detail_tuongtu {
    padding: 20px 0px;
    border-top:1px solid rgba(0,0,0,0.1) ;
}

.title-tuongtu {
    font-size: 2rem;
    color: #333;
    padding-bottom: 20px;
}

.empty-sp {
    font-size: 1.5rem;
    font-weight: 300;
    color: #333;
    padding-left: 20px;
}
.detail-info-value p {
    margin: 0;
}
.detail-info-value p:before {
    content: "•";
    color: #b7b7b7;
    vertical-align: middle;
    margin-right: 2px;
}

/*  trang user */

.account {
    background-color: whitesmoke;
    padding-top: 20px;
}



.user-name {
    display: flex;
    justify-content: end;
    align-items: center;
}
.user-avatar {
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.user_img {
    width: 100%;
    border-radius: 50%;
}

.user-avatar i {
    position: absolute;
    left: 20px;
    top: 5px;
    font-size: 4rem;
    color: rgba(0,0,0,0.1);
    font-weight: 300;
}

.user_text {
    padding-left: 10px;
}

.user_text-account {
    font-size: 1.4rem;
    font-weight: 300;
    color: #333;
}

.user_text-name {
    font-size: 1.6rem;
    color: #333;
}

.user-wrap {
    padding: 20px 0;
    list-style: none;
}

.user-wrap li {
    width: 250px;
    display: list-item;
    height: 40px;
}

.user-wrap .account-link {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 1.5rem;
    color: #333;
    height: 100%;
    padding: 20px 0px 20px 20px;
    font-weight: 400;
    transition: background-color .2s linear;
}

.user-wrap .account-link:hover {
    background-color: rgba(0,0,0,0.04);
}
.user_active {
    background-color: rgba(0,0,0,0.04);
}
.user-wrap i{
    font-size: 2rem;
    color: #333;
    padding-right:  20px;
    background-color: transparent;
}


.user_main-title {
    margin: 20px 0px;
}
.user_main-title h3 {
    font-weight: 300;
    font-size: 1.8rem;
}

.user_main-wrap {
    background-color: #fff;
    padding-bottom: 20px;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 20px;
}

.form-user {
    display: flex;
    padding: 20px 0px 0px 0px;
}

.form-user--span span {
    padding-left: 20px;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 30px;
}

.form-user_label {
    min-width: 160px;
    font-size: 1.3rem;
    padding-left: 40px;
    color:#333;
    line-height: 30px;
}

.form-wrap--user {
    margin-left: 20px;
}


.input--user {
    font-size: 1.4rem;
    width: 490px;
    height: 34px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s, -webkit-box-shadow 0.15s ease-in-out 0s;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
    height: 34px;
    padding: 6px 12px;
    line-height: 34px;
    font-weight: 300;
    outline: none;
}

.input--user:focus {
    border: 1px solid #ffcec4;
}

.input--user.error_input {
    border: 1px solid red;
}
.input--user.error_input:focus {
    border: 1px solid red;
}

button.btn_account {
    margin: 20px 50px;
    border-radius: 4px;
    background-color: #f30;
    font-size: 1.5rem;
    color: #fff;
    outline: none;
    transition: background-color .2s linear;
}

.btn_account:hover {
    background-color: #d12c1f;
}

/* history */

.user_main-wrap table {
    border-collapse: collapse;
    width: 100%;
    word-break: break-word;
    background-color: #fff;
}

.user_main-wrap tr {
    border-bottom: 1px solid rgb(244, 244, 244);
}
.user_main-wrap tr:hover{
    background-color: rgb(246, 252, 255);
}

.user_main-wrap td,
.user_main-wrap th{
    min-width: 100px;
    padding: 20px 15px;
    color: rgb(120, 120, 120);
    font-size: 1.5rem;
    font-weight: 400;
    text-align: left;
}

.user_main-wrap td {
    font-size: 13px;
    line-height: 20px;
    color: rgb(51, 51, 51);
}

button.btn_huy {
    min-width: 50px;
    max-height: 30px;
    outline: none;
    background-color: #FF0000;
    color: #ffff;
    font-weight: 300;
    font-size: 1.2rem;
    border-radius: 5px;
    transition:background-color .2s linear ;
}

.btn_huy:hover {
    background-color: #d12c1f;
}

.span_huy {
    font-size: 1.3rem;
    color: #FF0000;
}

.user_diachi {
    margin: 0px 20px 20px 0px;

}

.title {
    font-size: 1.3rem;
    color: #333;
    font-weight: 400;
    margin-bottom: 10px;
}

.content {
    background-color: #ffff;
    width: 100%;
    border-radius: 4px;
    padding: 10px;
    min-height: 111px;
}
.content p {
    margin: 5px 0px 0px;
}

.name {
    font-size: 1.4rem;
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
}

.address,
.phone{
    font-size: 1.4rem;
    font-weight: 300;
    color: #333;
    line-height: 20px;
}

#detail_oders td {
    padding: 20px 10px;
}
.product-item{
    width: 100%;
}

.product-link {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.product-link img {
    width: 100px;
}

.product-info p{
    margin: 0;
    color: #333;
    padding-left: 10px;
}

.user_main-wrap .foot_tr,
.user_main-wrap .tr_oder{
    border: none;
}
.user_main-wrap .foot_tr:hover,
.user_main-wrap .tr_oder:hover{
    background-color: #fff;
}

.foot_tr td {
    text-align: right;
    padding: 20px 20px 10px 0;
}

.btn_link {
    margin-bottom: 20px;
    color: #fff;
    border-radius: 4px;
    background-color: #ff3302;
}

.btn_link:hover {
    background-color: #d12c1f;
    color: #fff;
}

.diachi_user{
    padding: 15px 10px 0px;
}
.diachi_user span {
    font-size: 1.5rem;
    color: #333;
    font-weight: 300;
}

.diachi_name {
    padding: 5px 10px 0px;
    display: flex;
    justify-content: space-between;
}
.diachi_name span {
    font-size: 1.5rem;
    color: #333;
    font-weight: 300;
}

button.btn_address{
    outline: none;
    color: #f30;
}
.btn_address:hover {
    color: #d12c1f;
}

button.btn-oders {
    min-width: 80px;
    outline: none;
    background-color: transparent;
    border: none;
    color: #1ba8ff;
    font-size: 1.4rem;
}
.btn-oders:hover{
    color: #357ebd;
}

#list_hd td {
    padding-top: 20px;
}