:root{
  --white-color: #fff ;
  --black-color: #000;
  --text-color: #333;
}

*{
  box-sizing: inherit;
}

body,html{
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family:'Roboto', sans-serif;
  box-sizing: border-box;
  background-color: #f3f3f3;
}

.padding-9 {
  padding: 0 10px 10px 0;
  background-color: white;
}

button{
  outline: none;
}

.btn_cus {
  min-width: 124px;
  height: 34px;
  border: none;
  border-radius: 2px;
  font-size: 1.5rem;
  padding: 0 12px;
  cursor: pointer;
  color: var(--text-color);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  line-height: 2rem;
  background-color: white;
}

.btn_cus.btn--size-s {
  height: 32px;
  font-size: 1rem;
  padding: 0 10px;
}

.btn_cus.btn--primary {
  color: white;
  background-color: #f54d10;
}

.btn_cus.btn--primary:hover {
  background-color: #f8642e;
} 



a:hover{
  text-decoration: none;
}
.grid{
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

.grid__full-width{
  width:100%;
}

.grid__row{
  display: flex;
  flex-wrap: wrap;
}

.col-sm-2 {
  padding: 0;
}

.col-2-4 {
  width: 25%;
}
.col-2-5{
  width: 20%;
}

/* main */

.main {
  margin-top: 125px;
}

.url-heading {
  padding: 20px 0;
  border-bottom: 1px solid #f0f0f0;
  background-color: white;
}

.url-list {
  display: flex;
  margin: 0;
  padding: 0 15px;
  list-style: none;

}

.url-item {
  display: flex;
  align-items: center;
}

.url-link {
  font-size: 1.4rem;
  color: var(--text-color);
}

.url-link:hover {
  color: #f30;
}

.url-item span {
  display: flex;
}

.right-icon {
  font-size: 1.8rem;
  
}

.url-name {
  color: #f30;
  font-size: 1.4rem;

}

/* Footer */

.footer {
  margin-top: 40px;
  border-top: 4px solid #f30;
  padding-top: 20px;
  background-color: #fff;
}

.footer__heading {
  font-size: 1.8rem;
}

.footer-list {
  list-style: none;
  padding-left: 0;
  padding-top: 10px;
}

.footer-item {
  font-size: 1.4rem;
  color: darkgray;
  font-weight: 350;
  padding: 5px 0;
  display: flex;
  align-items: center;
}

.footer-list__img {
  display: flex;

}

.footer-item img {
  width: 40px;
  padding-right: 10px;
}

#footer-img {
  width: 100px;
}

.footer-item i {
  font-size: 2rem;
  padding-right: 8px;
}

.footer-title {
  text-align: center;
  background-color: #f0f0f0;
}

.footer-text {
  font-size: 1.6rem;
  margin: 0;
  padding: 10px 0;
}

/* filter */
.home-filter {
  background-color: white;
}

.home__text {
  padding: 15px 10px 0 10px;
  font-size: 1.6rem;
  font-weight: bold;
  margin: 10px 0;
}
.col-sm-6 {
  padding: 0;
  margin: 0;
}

.home-sceen {
  border-bottom: 1px solid #ccc;
}

.home-sceen img {
  width: 100%;
}

.home__select {
  margin-top: 15px;
}

.home-sceen__item {
  margin-left: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}


.form-check-input {
  margin-top: 0;
}
input[type=checkbox] {
  transform: scale(1.3);
  
}

.home-sceen__item img {
  padding-left: 10px;
  width: 70%;
}
.form-check-label {
  line-height: 19px;
  font-size: 1.4rem;
  font-weight: 400;
  color: #2878d7;
  padding-left: 5px;
}


/* Sort*/

.home-sort {
  margin-top: 10px;
  padding: 12px 22px;
  background-color: rgba(0,0,0,0.04);
  display: flex;
  align-items: center;
  border-radius: 2px;
}

.home-sort__lable {
  font-size: 1.4rem;
  font-weight: 400;
  padding-right: 12px;
  color: #555555;
}

button.btn-sort {
  outline: none;
  margin-right: 12px;
}